body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.buttons {
    height: 60px;
    width: 60px;
    margin: 2px;
}

.doubleSize {
    height: 60px;
    width: 130px; 
    min-width: 120px;
    
}

#display {
    background-color: grey;
    height: 60px;
    width: 250px;
    border: solid black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    width: 300px;
}